.carousel, .carousel-inner, .card{
	height: 100vh;
}

.carousel-item, #Hero3{
	max-height: 100vh;
  	min-height: 100vh;
  	max-width: 100vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; 
}

.btn:hover{
	text-decoration: underline;
}

.caption{
	height: 100vh;
	padding-right: 20vw;
	padding-left: 20vw;
}

#caption1, #caption2{
	height: 100vh;
	padding-right: 30vw;
	padding-left: 30vw;
}

.card-img{
	max-height: 65vh;
  	min-height: 65vh;
  	max-width: 100vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column; 
}

.card-caption{
	background-color: white;
	text-align: center;
}

/* Responsive Card Font*/
.card-caption h5{
	font-size: calc(0.8rem + 0.3vw);
}

.card-caption p, .card-caption a{
	font-size: calc(0.6rem + 0.2vw);
}

/* Responsive Card Caption*/
@media screen and (min-width: 768px){
	.card-caption{
		margin-right: 40%;
	}
}

.container{
	max-width: 85vw;
	min-width: 85vw;
}

/* Penyesuaian Container Untuk Mobile*/
@media screen and (max-width: 767px){
	.container{
		max-width: 60vw;
		min-width: 60vw;
	}
}

/* Responsive Text Size*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2.5rem; }
  @media (max-width: 1200px) {
    h1, .h1 {
      font-size: calc(1.375rem + 1.5vw) ; } }

h2, .h2 {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    h2, .h2 {
      font-size: calc(1.325rem + 0.9vw) ; } }

h3, .h3 {
  font-size: 1.75rem; }
  @media (max-width: 1200px) {
    h3, .h3 {
      font-size: calc(1.3rem + 0.6vw) ; } }

h4, .h4 {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    h4, .h4 {
      font-size: calc(1.275rem + 0.3vw) ; } }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }
  @media (max-width: 1200px) {
    .display-1 {
      font-size: calc(1.725rem + 5.7vw) ; } }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }
  @media (max-width: 1200px) {
    .display-2 {
      font-size: calc(1.675rem + 5.1vw) ; } }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }
  @media (max-width: 1200px) {
    .display-3 {
      font-size: calc(1.575rem + 3.9vw) ; } }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }
  @media (max-width: 1200px) {
    .display-4 {
      font-size: calc(1.475rem + 2.7vw) ; } }